*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 100%;
}

html {
  width: 100%;
}

body {
  background: $white;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $white;
}

img {
  max-width: 100%;
  display: block;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

li {
  list-style: none;
}

#root {
  width: 100%;
}

.container {
  margin: 0 auto;
  padding-left: 2em;
  padding-right: 2em;
  max-width: 69.375em;
}
