*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 100%;
}

body {
  background: $white;
  min-height: 100vh;
  width: 100vw;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  & > * {
    padding-top: 49px;
    padding-left: 22px;
    padding-right: 22px;
  }
}

img,
svg {
  max-width: 100%;
  display: block;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}
