.navbar {
  position: relative;
  font-weight: 300;
  font-size: 1.125rem;
  font-family: "Overpass";
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.125rem;
  gap: 4rem;
}

.mobile-icon-container {
  cursor: pointer;

  @media (min-width: 769px) {
    display: none;
  }
}
