.intro {
  width: 100%;
  background-image: url("../images/bg-pattern-intro.svg"), $ctaGradient;
  background-position: 35% 35%, center;
  background-size: 1440px, cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 6rem;
  padding-bottom: 8.5rem;

  @media (min-width: 769px) {
    background-size: 1440px * 2.125, cover;
    background-position: left 25% bottom 47%, center;
    background-image: url("../images/bg-pattern-intro.svg"), $ctaGradient;
    padding-bottom: 9.6875rem;
  }

  &__body {
    font-family: "Overpass";
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    padding-top: 6.25rem;
    text-align: center;

    @media (min-width: 769px) {
      padding-top: 8.75rem;
    }

    &-title {
      font-size: 2.125rem;

      @media (min-width: 769px) {
        font-size: 3rem;
      }
    }

    &-text {
      color: darken($white, 5%);
      line-height: 1.25;
      font-size: 1.125rem;
      padding: 0.8rem;
    }
  }

  &__buttons {
    margin-top: 3rem;

    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
