.main__heading {
  padding-top: 5.625rem;
  padding-bottom: 2.625rem;
  font-weight: 700;
  text-align: center;
  font-size: 2rem;

  @media (min-width: 1200px) {
    padding: 0;
    font-size: 2.5rem;
    transform: translateY(7.5rem);
  }
}

.main__text-area {
  text-align: center;

  @media (min-width: 1200px) {
    display: flex;
    align-items: center;
    width: 50%;
    text-align: left;
    font-size: 1rem;
    margin-left: auto;
    padding-left: 2rem;
    justify-content: flex-end;
  }
}

.main__texts {
  @media (min-width: 1200px) {
    max-width: 502px;
  }
}

.main__subheading {
  padding-top: 3.125rem;
  padding-bottom: 1.5625rem;
  font-size: 1.75rem;
}

.main__image-constraint {
  @media (min-width: 1200px) {
    width: 80%;
    overflow-x: clip;
  }
}

.main__image-right {
  @media (min-width: 1200px) {
    left: -4rem;
  }
}
