.mobile-menu {
  margin-top: 4.375rem;
  display: none;
  position: absolute;
  color: black;
  text-align: center;
  min-width: calc(100% - 4rem);
}

.mobile-menu.active {
  display: block;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border-radius: 0.1rem;
}

.mobile-menu__label {
  &::after {
    display: inline-block;
    position: relative;
    left: 1rem;
    content: url("../images/icon-arrow-dark.svg");
  }
}
