// CTA
$lightRed: hsl(356, 100%, 66%); // CTA text
$veryLightRed: hsl(355, 100%, 74%); // CTA hover background

// body/text
$white: hsl(0, 0%, 100%); // text
$veryDarkBlue: hsl(208, 49%, 24%); // headings
$veryDarkGrayishBlue: hsl(207, 13%, 34%); // body copy

// footer
$grayishBlue: hsl(240, 2%, 79%); // footer text
$veryDarkBlackBlue: hsl(240, 10%, 16%); // footer background

// Background gradient - Intro/CTA mobile nav
$gradientLightRed: hsl(353, 100%, 62%);
$gradientVeryLightRed: hsl(13, 100%, 72%);

// Background gradient - body
$gradientVeryDarkGrayBlue: hsl(237, 17%, 21%);
$gradientVeryDarkDesaturatedBlue: hsl(237, 23%, 32%);

// linear gradients
$ctaGradient: linear-gradient(120deg, $gradientVeryLightRed, $gradientLightRed);
$ctaHoverGradient: linear-gradient(
  300deg,
  $gradientVeryLightRed,
  $gradientLightRed
);
